PORT=3000
MONGODB_URI=mongodb://<username>:<password>@ac-fjlggam-shard-00-00.in9z4qj.mongodb.net:27017,ac-fjlggam-shard-00-01.in9z4qj.mongodb.net:27017,ac-fjlggam-shard-00-02.in9z4qj.mongodb.net:27017/ecommerce_order?tls=true&authSource=admin&replicaSet=atlas-4ymaz1-shard-0&retryWrites=true&w=majority&appName=Cluster0
JWT_ACCESS_SECRET=replace_with_long_random_string
JWT_REFRESH_SECRET=replace_with_another_long_random_string
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
CORS_ORIGIN=*
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=Admin@123
ADMIN_NAME=System Admin
SEED_PRODUCTS_RESET=false
